OpenPianoJUCE/CMakeLists.txt.user*
OpenPianoJUCE/Builds/
OpenPianoJUCE/JUCE/
OpenPianoJUCE/.idea/

OpenPianoCore/CMakeLists.txt.user*
OpenPianoCore/Builds/
OpenPianoCore/.idea/

README.md.backup

Resources/
Matlab/
